@model IEnumerable<Modulo_Matricula.Alumnos>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Religion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IglesiaAlaQueAsiste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnfermedadCronica)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Religion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IglesiaAlaQueAsiste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnfermedadCronica)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAlumno }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAlumno }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAlumno })
        </td>
    </tr>
}

</table>
