<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Matriculas</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        .navbar-inverse {
            background-color: #273D4B;
            border-color: #273D4B;
            box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.15);
        }
        .navbar-inverse .navbar-nav > li > a {
           color: #ffffff;
        }
        .navbar-inverse .navbar-nav > li > a:hover {
                color: #ffd800;
        }
        .shadow {
            background-color: #e7f4fd;
            opacity: 95%;
            box-shadow: 0px 3px 4px 1px rgba(0, 0, 0, 0.15);
        }
        .images {
            background-image: url('../../images/bg-bottom.svg'), url('../../images/bg-top.svg');
            background-repeat: no-repeat, no-repeat;
            background-size: auto, auto;
            background-position-x: left, right;
            background-position-y: 60vh, top;
        }
    </style>

</head>
<body class="images">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="link">@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="link">@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                    <li class="link">@Html.ActionLink("Alumnos", "Index", "Alumnos")</li>
                    <li class="link">@Html.ActionLink("Grados", "Index", "Gradoes")</li>
                    <li class="link">@Html.ActionLink("Responsable Legal", "Index", "ResponsableLegals")</li>
                    <li class="link">@Html.ActionLink("Matriculas", "Index", "Matriculas")</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content shadow">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>