@model Modulo_Matricula.ResponsableLegal

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ResponsableLegal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Parentesco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parentesco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroDeCedula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroDeCedula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ocupacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ocupacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LugarDeTrabajo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LugarDeTrabajo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CorreoElectronico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CorreoElectronico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DireccionDelResponsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DireccionDelResponsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumnos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumnos.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdResponsable }) |
    @Html.ActionLink("Back to List", "Index")
</p>
