@model Modulo_Matricula.Grado

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myBtn {
        border: 1px solid #3f66fb;
        border-radius: 5px;
    }
</style>
<h2>Detalle de grado.</h2>

<div>
    @*<h4>Grado</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Grupo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grupo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodigoNacionalDeEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodigoNacionalDeEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoDelEstudiante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoDelEstudiante)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CentroDeProcedencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CentroDeProcedencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alumnos.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alumnos.Nombre)
        </dd>

    </dl>
</div>
<div>
    <div class="btn btn-default myBtn">
        @Html.ActionLink("Regresar", "Index")
    </div>
    <div class="btn btn-default myBtn">
        @Html.ActionLink("Editar", "Edit", new { id = Model.IdGrado })
    </div>
</div>
